html,
body {
    height: 100%;
    background-image: url("../img/city_sill.jpg");
}
#bg_fade {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;

}

header.carousel {
    position: fixed;
    left: 22.5%;
    top: 13%;
    height: 70%;
    width: 55%;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


#sujayandrichard {
    text-align: center;
    padding-top: 2%;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
#about_us {
    position: fixed;
    left: 2%;
    top: 13%;
    height: 20%;
    width: 18.5%;
    background-color: #eeb211;
}
#platform {
    position: fixed;
    left: 2%;
    top: 38%;
    height: 20%;
    width: 18.5%;
    background-color: #00254c;
}
#our_team {
    position: fixed;
    left: 2%;
    top: 63%;
    height: 20%;
    width: 18.5%;
    background-color:#00254c;
}
#change_propic {
    position: fixed;
    left: 79.5%;
    top: 13%;
    height: 20%;
    width: 18.5%;
    background-color: #eeb211;
}
#social_media {
    position: fixed;
    left: 79.5%;
    top: 38%;
    height: 20%;
    width: 18.5%;
    background-color: #00254c;
}
#email_list {
    position: fixed;
    left: 79.5%;
    top: 63%;
    height: 20%;
    width: 18.5%;
    background-color: #00254c;
}
