<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sujay and Richard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/home.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


    <script src="https://use.fontawesome.com/7a9dd80376.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>



</head>

<body>
    <div id="bg_fade"></div>
    <div id="text_overlay">
        <div id="main_text">
            ALL FOR ONE
        </div><hr>
        <div id="main_buttons">
        <button type="button" class="btn btn-default overlay_button hvr-sweep-to-top">VIEW PLATFORM</button>
        <button type="button" class="btn btn-default overlay_button hvr-sweep-to-top">VOTE NOW</button>
        </div>
        <div id="hexagon-top">
            <div class="hexagongold">
                <img src="../img/student.png" style = "width: 30px; height: 30px">
            </div>
            <div class="hexagongold">
                <img src="../img/athletic.png" style = "width: 30px; height: 30px">
            </div>
            <div class="hexagongold">
                <img src="../img/greek.png" style = "width: 30px; height: 30px">

            </div>
            <div class="hexagongold">
                <img src="../img/underrepresented.png" style = "width: 30px; height: 30px">
            </div>
        </div>
        <div id="hexagon-bottom">
            <div class="hexagongold">
                <img src="../img/lgbtqia.png" style = "width: 30px; height: 30px">

            </div>
            <div class="hexagongold">
                <img src="../img/faith.png" style = "width: 30px; height: 30px">

            </div>
            <div class="hexagongold">
                <img src="../img/arts.png" style = "width: 30px; height: 30px">
            </div>
        </div>

    </div>
    <div class="navbar navbar-light">
        <div class="navoptions">
            <a class="navbar-brand sujayandrichard" href="index.html">Sujay & Richard</a>
            <a class="navbar-brand navbar-right navbaritem" href="#" style="margin-right:1%; font-size: 2em;">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand navbar-right navbaritem" href="#">
                <i class="fa fa-snapchat-square" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand navbar-right navbaritem" href="#">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand navbar-right navbaritem" href="#">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <header id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('../img/bobbydodd.jpg'); background-position: 20% 5%;"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../img/techtower.png'); background-position: 20% 5%;"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../img/georgiatech.jpg'); background-position: 20% 1%;"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <div id="about_us" class="info_box hvr-grow-rotate hvr-trim" onclick="location.href='about.html';">
        <i class="fa fa-info-circle info_box_pic" aria-hidden="true" href="about.html"></i>
        <p class="info_box_text">Who We Are</p>
    </div>
    <div id="platform" class="info_box hvr-grow-rotate hvr-trim" onclick="location.href='platform.html';" >
        <i class="fa fa-book info_box_pic_blue" aria-hidden="true"></i><br>
        <p class="info_box_text_blue">Our Platform</p>
    </div>
    <div id="our_team" class="info_box hvr-grow-rotate hvr-trim" onclick="location.href='team.html';" >
        <i class="fa fa-users info_box_pic" aria-hidden="true"></i><br>
        <p class="info_box_text">Meet Our Team</p>
    </div>
    <br>
    <div id="change_propic" class="info_box hvr-grow-rotate hvr-trim">
        <i class="fa fa-facebook info_box_pic_blue" aria-hidden="true"></i><br>
        <p class="info_box_text_blue">Change Your Profile Picture</p>
    </div>
    <div id="social_media" class="info_box hvr-grow-rotate hvr-trim">
        <i class="fa fa-phone info_box_pic" aria-hidden="true"></i><br>
        <p class="info_box_text">Contact Us</p>
    </div>
    <div id="email_list" class="info_box hvr-grow-rotate hvr-trim">
        <i class="fa fa-envelope info_box_pic_blue" aria-hidden="true"></i><br>
        <p class="info_box_text_blue">Join our Email List</p>
    </div>

    <div id="footer">Designed and Developed by Gordon Li</div>

    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
