<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sujay and Richard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/home.css" rel="stylesheet">
    <link href="../css/about.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="https://use.fontawesome.com/7a9dd80376.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>



</head>

<body>

<div id="bg_fade"></div>
<div id="text_overlay">
    <div id="main_text">
        Our Platform
    </div><hr>
    <div id="hexagon-top">
        <div class="hexagongold">
            <img src="../img/student.png" style = "width: 30px; height: 30px">
        </div>
        <div class="hexagongold">
            <img src="../img/athletic.png" style = "width: 30px; height: 30px">
        </div>
        <div class="hexagongold">
            <img src="../img/greek.png" style = "width: 30px; height: 30px">

        </div>
        <div class="hexagongold">
            <img src="../img/underrepresented.png" style = "width: 30px; height: 30px">
        </div>
    </div>
    <div id="hexagon-bottom">
        <div class="hexagongold">
            <img src="../img/lgbtqia.png" style = "width: 30px; height: 30px">

        </div>
        <div class="hexagongold">
            <img src="../img/faith.png" style = "width: 30px; height: 30px">

        </div>
        <div class="hexagongold">
            <img src="../img/arts.png" style = "width: 30px; height: 30px">
        </div>
    </div>
</div>
<nav class="navbar navbar-light">
    <a class="navbar-brand sujayandrichard" href="index.html">Sujay & Richard</a>
    <a class="navbar-brand navbar-right navbaritem" href="#" style="margin-right:1%; font-size: 2em;">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a class="navbar-brand navbar-right navbaritem" href="#">
        <i class="fa fa-snapchat-square" aria-hidden="true"></i>
    </a>
    <a class="navbar-brand navbar-right navbaritem" href="#">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a class="navbar-brand navbar-right navbaritem" href="#">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
</nav>
<header id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('../img/bobbydodd.jpg'); background-position: 20% 5%;"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../img/techtower.png'); background-position: 20% 5%;"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../img/georgiatech.jpg'); background-position: 20% 1%;"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
<div id="sujay">
    <img src="../img/sujay.jpg" class="aboutpics">
    <div class="aboutinfo">
        <div class="name"> Sujay Peramanu</div>
        <div class="description">3rd year Industrial Engineer Major</div>
        <div class="bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
    </div>
</div>
<div id="richard">
    <img src="../img/richard.jpg" class="aboutpics">
    <div class="aboutinfo">
        <div class="name"> Richard Wang</div>
        <div class="description">3rd year Computer Science Major.</div>
        <div class="bio">
            My name is Richard Wang and I am 3rd year Computer Science major and Technology and Management minor from Lexington, MA.  
             I currently serve as the Speaker of the House for the Student Government Association.  
            Outside of SGA, I am involved in GT 1000 and Greek Life. 
             In my free time, I enjoy watching Football and playing Settlers of Catan.  
            Please feel free to reach out to me at rwang329@gatech.edu.
        </div>
    </div>
</div>
<div id="footer">Designed and Developed by Gordon Li</div>
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
</body>

</html>
